

<launch>

    <!-- bag的地址与名称 -->
    <!-- <arg name="bag_filename" default="/home/lx/bagfiles/lesson1.bag"/> -->

    <!-- 使用bag的时间戳 -->
    <!-- <param name="use_sim_time" value="true" /> -->

    <!-- 启动节点 -->
    <!-- <node pkg="sensor_data" type="sensor_data_sensor_lidar_point_node" name="sensor_lidar_point_node" output="screen" /> -->
 	<node pkg="sensor_data_lidar" type="sensor_lidar_point_node"  name="sensor_lidar_point_node" />
</launch>
